

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.wrapper{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.center{
    text-align: center;
}


.title p{
    font-family: 'Raleway', sans-serif;
    color: #30a3f0;
    font-size: 18px;
}
.title h1{
    font-family: 'Raleway', sans-serif;
    max-width: 720px;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 800;
}
.btn {
    color: #30a3f0;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    border: 1px solid #30a3f0;
    padding: 20px 42px;
    border-radius: 5px;
    
}
.info-item, 
.info-link{
    /*color: rgba(255, 255, 255, 0.3);*/
    font-size: 14px;
}

.box {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}


.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    font-size: 14px;
    display: flex;
    padding-left: 0;
    list-style-type: none;
    align-content: center;
    
}

.info-link{
    text-decoration: none;
}
.info-left .info-item{
    margin-right: 32px;
}

.info-right .info-item{
    margin-left: 17px;
}
.box h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 600; 
    margin-bottom: 27px;
}

.title h1{
    font-size: 45px;
    padding: 10px;
}

.title-h2{
    font-size: 30px;
    font-weight: 800;
}
.title-h2 span{
    font-style: 16px;
    color: #30a3f0;
}
.description{
    color: #707070;
}
.list-desc{
    color: #222222;
}
.element{
    width: 1px;
    height: 100px;
    background-color: #2b88c7;
    margin: 0 auto;
}

.element-top{
    margin-top: 32px;
}

.element-bottom{
    margin-bottom: 29px;
}

.head{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 40px 25px;
}

.nav{
    list-style-type: none;
    padding-left: 0;
    display: flex;

}

.nav-link {
    color: #444444;
    padding: 11px 19px 12px;
    text-decoration: none;
    border: 1px solid transparent;
}
.nav-link.active{
    color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 11px 19px 12px;
}

.nav-item{
    margin-left: 8px;
}

.nav-link:hover{
    color: #30a3f0;
    padding: 11px 19px 12px;
    border: 1px solid #30a3f0;
    border-radius: 5px;
}
.title{
    margin-bottom: 40px;
}
.header{
    padding-bottom: 214px;
}

.box{
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box-item{
    flex-basis: 33.333%;
    padding: 0 60px 110px;
}
.box-item-center{
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.page-line{
    border-bottom: 1px solid #e4e4e4;
}